@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer base {*/
/*    .directory-flex > div {*/
/*        */
/*    }*/
/*}*/

@layer utilities {

    .flex-center {
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .button-hover {
        --tw-translate-x: 12px;
    }

    .border-radius {
        border-radius: 12px;
    }

    .button-width {
        width:300px;
    }

    .button-height {
        height:45px;
    }

    .cursor-pointer {
        cursor:pointer;
    }

    .add-btn-hover {

    }

    .directory-flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .directory-flex > *:active {
        @apply bg-light-nav-hover-dark
    }

    .dir-item {
        height: 50px;
        width:100%;
        display: flex;
        padding-left: 2.5rem;
        padding-right: 1rem;
        justify-content: space-between;
        align-items: center;
        cursor:pointer;
    }

    .dir-item-before::before {
        position:absolute;
        content:">";
        margin-right: 10px;
        left:1rem;
    }

    .dir-item:hover {
        @apply bg-light-nav
    }

    .card {
        height: 23rem;
    }

    .card-image {
        height: 10rem;
    }

}
